<app-header titulo="validarCorreo"></app-header>
<ion-header>
  <ion-toolbar>
    <ion-title>
      Validar Correo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="enviarMensaje()" [disabled]="!validarCorreo()">Enviar Mensaje</ion-button>

  <ion-item *ngIf="mensaje">
    {{ mensaje }}
  </ion-item>
</ion-content>
